<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <img src="{{ url_for('static', filename='1331191.png') }}" alt="Image of Tanjiro Kamado"/>
    <h1>Krishna Jones</h1>
    <p>Hey there, I'm Krishna Jones! I'm all about mixing things up with a bit of tech wizardry and a whole lot of creativity. Whether I'm tinkering with gadgets or getting lost while brainstorming, I'm happiest when I'm exploring new ideas and pushing the boundaries of what's possible.</p>
</body>
</html>